.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Characters{
  padding: 2em;
}
.Characters-Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Ligth-Mode{
  background-color: white;
}
.Dark-Mode{
  background-color: black;
}

.Ligth-Mode .Header-Title,
.Ligth-Mode .Character-Title,
.Ligth-Mode .Characters-Title{
  color: black;
}

.Dark-Mode .Header-Title,
.Dark-Mode .Character-Title,
.Dark-Mode .Characters-Title{
  color: white;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
